/* GENERAL - NO CONFIGURAR */

*{
    padding: 0px;
    margin: 0px;
}


.home{
    display: flex;
    flex-wrap: wrap;
    background-color: #f7ffe7;
    max-width: 100%;
    max-width: 100%;
    margin: 5px auto;
}

.in-flex{
    flex: 1;
    min-width: 100%;
    padding: 10px;
}
.in-flex:first-child{
    padding: 10px;
    flex:2;
    margin: 10px;
    margin-bottom: 0px;
    
    
}

.in-flex div{
    padding: 10px;
    margin: 10px;
}



/* FUENTESS */


@font-face{ font-family: 'video';
    src: url(./FONTS/Arturo-Heavy\ Outline\ Trial.ttf);
}

@font-face{ font-family: 'titulo';
    src: url(./FONTS/Arturo-BoldItalic\ Trial.ttf);
}

@font-face{ font-family: 'subtitulo';
    src: url(./FONTS/Arturo-ExtraLight\ Trial.ttf);
}


/* TÍTULOS */



h1{
    text-align: center ;
    font-family: 'titulo';
    background-color: rgb(240, 255, 209);
    font-size: 3em;

}

h2{
    text-align: center;
    font-family: 'subtitulo';
    background-color: rgb(171, 201, 112);
    font-size: 2.5em;
}

h3{
    text-align: center;
    font-family: 'video';
    background-color: rgb(210, 230, 125);
    font-size: 2em;
}





/* STORYBOARD */
.story{
    
    background-color: white;
    width: 95%;
    height: 550px;
    margin-top: 20px;
    margin-right: 15px;
    padding: 0 auto;
    border-radius: 6px;
    background-position: left;
    float: left;

}

.angel{

    width: 92%;
    height: 90%;
    display:block;
  margin-left: auto;
  margin-right: auto;

}


/* GUION TÉCNICO */

.guion{
    background-color: white;
    width: 95%;
    height: 550px;
    margin-top: 20px;
    margin-right: 15px;
    padding: 0 auto;
    border-radius: 6px;
    background-position: left;
    float: left;

}

.tecnico{

    width: 92%;
    height: 90%;
    display:block;
    margin-left: auto;
    margin-right: auto;

}



/* VIDEO */

.union{
    background-color: white;
    width: 95%;
    height: 550px;
    margin-top: 20px;
    margin-right: 15px;
    padding: 0 auto;
    border-radius: 6px;
    background-position: left;
    float: left;

}

iframe{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 560px ;
    height:315px;

}


/* CAMBIOS */

@media screen and (max-width:600px){

    .home{
        
        background-color: #e7f1ff;
    }

    h1{
        background-color: rgb(209, 237, 255);
        font-size: 2.8em;
    
    }
    
    h2{
        background-color: rgb(112, 176, 201);
        font-size: 2.3em;
    }
    
    h3{
        background-color: rgb(125, 174, 230);
        font-size: 2em;
    }

    iframe{
        width: 450px; 
        height: 250px;
    }

}

@media screen and (max-width:550px){

    iframe{
        width: 95%; 
        height: 60%;
    }

    h1{
        background-color: rgb(209, 237, 255);
        font-size: 2.4em;
    
    }
    
    h2{
        background-color: rgb(112, 176, 201);
        font-size: 2em;
    }
    
    h3{
        background-color: rgb(125, 174, 230);
        font-size: 1.8em;
    }

}





